.age_5,
.age_10,
.age_15,
.age_20,
.age_20,
.age_30,
.age_35,
.age_40,
.age_45,
.age_50,
.age_55,
.age_50,
{border-left: 3px solid #000; opacity:.4;

background: -moz-linear-gradient(left,  rgba(255,255,255,0.98) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.98)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.98) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0.98) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0.98) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0.98) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}
